/* Custom font for loading screen */
@font-face {
  font-family: "Knewave";
  src: url("../assets/fonts/Knewave-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Knewave', cursive;
  background-color: #000000;
  overflow: hidden;
  width: 100%;
}
